<launch>
  <!-- The C++ talker node will publish a custom message. -->
  <node pkg="performance_tests" type="talker" name="talker">
    <param name="message" value="Hello from C++"/>
    <param name="rate" value="200"/>
  </node>

  <!-- The C++ listener node subscribes to the custom message that either talker is publishing. -->
  <node pkg="performance_tests" type="listener" name="listener">
  </node>

  <!-- The Python talker node will publish a custom message. -->
  <node pkg="performance_tests" type="py_talk.py" name="py_talk">
    <param name="message" value="I am Python"/>
    <param name="rate" value="200"/>
  </node>

  <!-- The Python listener node subscribes to the custom message that either talker is publishing. -->
  <node pkg="performance_tests" type="py_listen.py" name="py_listen">
  </node>

  <include file="$(find performance_tests)/launch/tools.launch"/>
</launch>
